body {
	font-family: "Arial", "Verdana", "sans-serif";
}

select {
	height: 24px;
}

.icon {
	position: relative;
	top: -2px;
	height: 24px;
	width: 24px;
	vertical-align: middle;
}

.clickable {
	cursor: pointer;
}

.test-result {
	margin-right: 10px
}

.test-delete {
	margin-left: 10px;
}

#editor-container {
	width: 50%;
	float: left;
}

#editor.ace-editor {
	width: 95%;
	border: 1px solid #000000;
}

#editor.textarea-editor {
	width: 95%;
	height: 300px;
	border: 1px solid #000000;
}

#tests-container {
	max-width: 49%;
	float: left;
	padding-left: 20px;
}

#test-list {
	list-style-type: none;
	line-height: 36px;
}

#test-list li {
	margin-left: -20px;
}

#new-test-type-multi {
	display: none;
}

#new-test-container > * {
	float: left;
	margin-right: 10px;
}

#new-test-type-multi select {
	display: block;
	margin-bottom: 5px;
}